<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Author Home Page</title>
</head>
<body>
    <a href="/"><button>Front page</button></a>
    <form action="/users/logout" method="post">
        <button>Logout</button>
    </form>
    <h1>Authors Home page</h1>
    <h2>Hello <%=blog.author_name%>!</h2>
    <h2>This is the <%=blog.blog_title%> blog</h2>
    <a href="/author/settings"><h3>Settings</h3></a>
    <!-- SHOULD CRATE A NEW DRAFT AND GO TO ITS EDIT PAGE --->
    <br>
    <form action="/author/add-draft" method="post">
        <a href="/author/edit"><button>Create new draft</button></a>
    </form>
        <ul>
            <% articles.forEach(function(article){ %>
            <li id="<%=article.article_id%>">
                <h3><%=article.title%>, <%=article.author_name %>, <%=article.created%></h3>
                <% if (article.published) { %>
                <h3><%="Published: "  + article.published  %></h3>
                <% } %>
                <button class="edit-article-button">Edit</button>

                <form action="/author/delete/<%=article.article_id%>" method="post">
                    <button class="delete-article-button">Delete</button>
                </form>


                <% if (!article.published) { %>
                    <form action="/author/publish/<%=article.article_id%>" method="post">
                        <button class="publish-article-button">Publish?</button>
                    </form>
                <% } %>


            </li>
            <% }) %>
        </ul>
        <script>
            document.querySelectorAll(".edit-article-button").forEach(button => {
                button.addEventListener("click", function() {
                    const id = this.parentNode.id;
                    window.location.href = `/author/edit/${id}`;
                });
            });
        </script>
</body>
</html>
